name: Build Windows Installer

on:
  push:
    tags:
      - 'v*'

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Download Godot
        run: |
          $url = "https://downloads.tuxfamily.org/godotengine/3.5.3/Godot_v3.5.3-stable_win64.exe"
          Invoke-WebRequest -Uri $url -OutFile godot.exe

      - name: Export for Windows
        run: |
          mkdir -p build/windows
          .\godot.exe --path . --export "Windows Desktop" "build/windows/UnicornGame.exe"

      - name: Install WiX Toolset
        run: |
          choco install wixtoolset -y

      - name: Create WiX Product File
        run: |
          @'
          <?xml version="1.0" encoding="UTF-8"?>
          <Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
            <Product Id="*" Name="Unicorn Game" Language="1033" Version="1.0.0.0" Manufacturer="Unicorn Game" UpgradeCode="12345678-1234-1234-1234-123456789012">
              <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
              <MajorUpgrade DowngradeErrorMessage="A newer version of Unicorn Game is already installed." />
              <MediaTemplate />

              <Feature Id="ProductFeature" Title="Unicorn Game" Level="1">
                <ComponentRef Id="MainExecutable" />
                <ComponentRef Id="StartMenuShortcut" />
              </Feature>

              <Directory Id="TARGETDIR" Name="SourceDir">
                <Directory Id="ProgramFilesFolder">
                  <Directory Id="INSTALLFOLDER" Name="Unicorn Game" />
                </Directory>
                <Directory Id="ProgramMenuFolder">
                  <Directory Id="ApplicationProgramsFolder" Name="Unicorn Game" />
                </Directory>
                <Directory Id="DesktopFolder" Name="Desktop" />
              </Directory>

              <DirectoryRef Id="INSTALLFOLDER">
                <Component Id="MainExecutable" Guid="12345678-1234-1234-1234-000000000001">
                  <File Id="GameExecutable" Source="build/windows/UnicornGame.exe" KeyPath="yes" />
                </Component>
              </DirectoryRef>

              <DirectoryRef Id="ApplicationProgramsFolder">
                <Component Id="StartMenuShortcut" Guid="12345678-1234-1234-1234-000000000002">
                  <Shortcut Id="ApplicationStartMenuShortcut" Name="Unicorn Game" Description="A magical unicorn pet game" Target="[INSTALLFOLDER]UnicornGame.exe" WorkingDirectory="INSTALLFOLDER" />
                  <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                  <RegistryValue Root="HKCU" Key="Software\Unicorn Game" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                </Component>
              </DirectoryRef>

              <DirectoryRef Id="DesktopFolder">
                <Component Id="DesktopShortcut" Guid="12345678-1234-1234-1234-000000000003">
                  <Shortcut Id="DesktopShortcut" Name="Unicorn Game" Description="A magical unicorn pet game" Target="[INSTALLFOLDER]UnicornGame.exe" WorkingDirectory="INSTALLFOLDER" />
                  <RegistryValue Root="HKCU" Key="Software\Unicorn Game" Name="desktopshortcut" Type="integer" Value="1" KeyPath="yes" />
                </Component>
              </DirectoryRef>
            </Product>
          </Wix>
          '@ | Out-File -Encoding UTF8 build/windows/Product.wxs

      - name: Build MSI Installer
        run: |
          cd build/windows
          candle.exe -o obj\ Product.wxs
          light.exe -o UnicornGame.msi obj\Product.wixobj

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-installer
          path: build/windows/UnicornGame.msi

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: build/windows/UnicornGame.msi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
